html {
	height: 100%;
	overflow: hidden;
}
			body {
				background: black;
				padding: 20px 50px;
				margin: 0px;
				height:100%;
			}
			textarea {
				float: left;
				background: transparent;
				border: 0px;
				color: #fff;
				padding: 0px;
				width:  -webkit-calc(100% - 200px);
				height: -webkit-calc(100% - 40px);
				font-family: monospace;
				outline: none;
				resize: none;
				position: absolute;
				top: 3px;
				left: 250px;
				font-size: 13px;
			}
			#linenosblock {
				position: absolute;
				top: 3px;
				left: 200px;
				width: 40px;
				height: -webkit-calc(100% - 40px);
				font-family: monospace;
				font-size: 13px;
				z-index: -1000;
				text-align: right;
				overflow-y: hidden;
			}
			.linenos {
				color: #7d7d7d;
			}
			.linenos.error {
				color: red;
			}
			.linenos .current {
				color: white;
			}
			.linenos .current.error {
				color: red;
			}
			#sidebar {
				position: absolute;
				left: 0px;
				top: 0px;
				float: left;
				width: 200px;
				height: 100%;
				background: url('images/sidebar_background.jpeg');
				border-right: 1px solid #2a2e31;
			}
			#sidebar .sidebar_header  p, #sidebar .sidebar_header  a{
				color: white;
				text-decoration: none;
				font-size: 10px;
				text-transform:  uppercase;
				font-weight: bold;
				position: relative;
				text-align: center;
				font-family: 'Cantarell', sans-serif;
			}
			#sidebar a {
				text-decoration:  none;
				color: white;
			}
			#sidebar a:hover {
				color: gray;
			}
			#sidebar .open_files li {
				display: block;
			}
			#menu_area {
				width: 100%;
			}
			#menu_search {
				width: 196px;
				border:1px solid #2a2e31;
				background-color:#2d3035;
				color :#505358 !important;
				height: 25px;
				font-size: 12px;
				outline-color: #2a2e31;
				font-family: 'Cantarell', sans-serif;
				text-indent: 5px;
			}